<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this project</title>
    <link rel="stylesheet" href="static\styles\style.css">
  </head>
  <body>
    <header>
      <h1>Overall information</h1>
      <nav>
          <a href="plots" target="_blank">Link to plots page</a>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <h2>Basic inforamtion</h2>
          <p>Data describe</p>
          <article>The dataset is built from the initial dataset consisted of 600000 transactional data collected in 6 years (period 2014-2019), indicating date and time of sale, pharmaceutical drug brand name and sold quantity, exported from Point-of-Sale system in the individual pharmacy. Selected group of drugs from the dataset (57 drugs) is classified to the following Anatomical Therapeutic Chemical (ATC) Classification System categories:<br>
            M01AB Sales volume of anti-inflammatory and antirheumatic products, non-steroids, Acetic acid derivatives 
            and related<br>
            M01AE Sales volume of anti-inflammatory and antirheumatic products, non-steroids, Propionic acid derivatives<br>
            N02BA Sales volume of other analgesics and antipyretics, Salicylic acid and derivatives<br>
            N02BE Sales volume of other analgesics and antipyretics, Pyrazolones and Anilides<br>
            N05B Sales volume of psycholeptics drugs, Anxiolytic drugs<br>
            05C Sales volume of psycholeptics drugs, Hypnotics and sedatives drugs<br>
            R03 Sales volume of drugs for obstructive airway diseases<br>
            R06 Sales volume of antihistamines for systemic use</article>
        </section>
      </article>
    </main>
    <footer>
      <img alt="Sardak Pavel, 2023, GPL3.">
    </footer>
  </body>
</html>
