<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plots of projects</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body>
    <header>
      <h1>Plots information</h1>
      <nav>
          <li><a href="about">Link to about page</a></li>
      </nav>
    </header>
    <form action="#" method="post" target="_blank">
        <h2>POST thing</h2>
        <fieldset>
          <legend>Select in what period of time you want to know median</legend>
          <ul>
            <li>
              <label for="start">Start time:</label>
              <input type="number" name="start" placeholder="month.year (01.2015)" id="start" required>
            </li>
            <li>
              <label for="end">End time:</label>
              <input type="number" name="end" placeholder="month.year (01.2015)" id="end">
            </li>
          </ul>
        </fieldset>
      </form>
    <footer>
      <p>Sardak Pavel, 2023, GPL3.</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>