<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plots of projects</title>
    <link rel="stylesheet" href="./static/styles/style.css">
  </head>
  <body>
    <header>
      <h1>Plots information</h1>
      <nav>
          <a href="about" target="_blank">Link to about page</a>
      </nav>
    </header>

    {% if plot %}
    <div class="plot">
        {{ plot | safe }}
    </div>
    {% endif %}

    <form action="/plots" method="post">
        <h2>POST request</h2>
        <fieldset>
          <legend>Select in what period of time you want to see month graph</legend>
          <ul>
              <label for="start">Start time:</label>
              <input type="text" name="start" placeholder="month.year (01.2015)" id="start" required>
              <p></p>
              <label for="end">End time:</label>
              <input type="text" name="end" placeholder="month.year (01.2015)" id="end" required>
          </ul>
          <button type="submit">Confirm</button>
        </fieldset>
      </form>
    <footer>
      <p class="noselect">Sardak Pavel, 2023, GPL3.</p>
    </footer>
  </body>
</html>
