form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the form content */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px; /* Add margin to space it out from other elements */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  h1 {
    margin: 0;
    font-size: 2em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .plot {
    max-width: 1000px; /* Максимальная ширина основного контейнера */
    margin: 0 auto;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  main {
    max-width: 1000px; /* Максимальная ширина основного контейнера */
    margin: 0 auto;    /* Автоматический отступ по бокам для центрирования */
  }
  
  /* Добавление отступов к header и footer */
  header,
  footer {
    max-width: 1000px;   /* Максимальная ширина */
    margin-left: auto;   /* Автоматический отступ слева */
    margin-right: auto;  /* Автоматический отступ справа */
    padding-top: 10px;   /* Верхний внутренний отступ */
    padding-bottom: 10px;/* Нижний внутренний отступ */
  }
  body {
    transform: scale(1.5); /* Пример значения для увеличения масштаба на 20% */
    transform-origin: top; /* Определение точки, относительно которой применяется масштабирование */
  }